/* Colors */
/* rgb(240, 241, 255) */
/* rgb(237, 238, 252) */
/* rgb(17, 17, 17) */
/* rgb(238, 238, 238) */
/* Font Properties */
/* Borders */
/* Box Shadow */
/* Transitions */
*, *::before, *::after {
  margin: 0;
  border: 0;
  padding: 0;
}

.header, .main__row, .main__projectContainer, .main__carousel, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 60vh;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 65%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 65%);
  color: #eee;
  text-align: center;
}

.header::before, .header::after {
  content: '';
  position: absolute;
}

.header::before {
  height: 100%;
  width: 100%;
  background: url(../images/pierre-axel-cotteret-X1tKQSMRlM0-unsplash.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  z-index: -2;
}

.header::after {
  height: 54vh;
  width: 97%;
  position: absolute;
  background-color: #000;
  z-index: -1;
}

.header__content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2rem auto;
}

.header__h1 {
  color: #fff;
  text-align: center;
  font-family: Luxia, sans-serif;
  font-size: 10vw;
  text-transform: uppercase;
  background: url(../images/pierre-axel-cotteret-X1tKQSMRlM0-unsplash.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__span {
  display: inline-block;
  margin: 1rem 4rem;
}

.header__a {
  color: #eee;
  text-decoration: none;
}

.header__a:hover {
  color: gray;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .header {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 65%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 65%);
  }
  .header__content {
    margin: 4.5rem auto;
  }
}

@media only screen and (max-width: 1050px) {
  .header__h1 {
    font-size: 11vw;
  }
  .header__span {
    margin: 1rem 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .header__span {
    margin: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    height: 50vh;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 75%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 75%);
  }
  .header::before {
    display: none;
  }
  .header::after {
    height: 50vh;
    width: 100%;
  }
  .header__content {
    margin: 6rem auto;
  }
}

@media only screen and (max-width: 600px) {
  .header__content {
    margin: 8rem auto;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    height: 35vh;
  }
  .header::after {
    height: 35vh;
  }
  .header__h1 {
    font-size: 12vw;
  }
  .header__span, .header__a {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    height: 30vh;
  }
  .header::after {
    height: 30vh;
  }
}

@media only screen and (max-width: 335px) {
  .header {
    height: 20vh;
  }
  .header::after {
    height: 20vh;
  }
  .header__content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.main__h2 {
  font-family: Hal, sans-serif;
  font-size: 4rem;
  letter-spacing: 0.25rem;
  text-align: center;
}

.main__h2.-inverse {
  color: #eee;
}

.main__p {
  text-align: center;
}

#featured {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
}

#featured > * {
  margin-bottom: 5%;
}

#featured .main__p {
  width: 50%;
  font-size: 3rem;
}

.main__projectContainer {
  width: 100%;
}

.main__projects {
  margin: 0 10px;
  width: 100px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.main__projects:hover {
  width: 350px;
}

.main__featured {
  width: auto;
  height: 525px;
  display: block;
}

#latest {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #111;
  padding-top: 2rem;
}

#latest > * {
  margin: 2rem 0;
}

.main__slideContainer {
  width: 1000px;
  height: 666px;
  position: relative;
}

.main__slides {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: url(#svgPath);
          clip-path: url(#svgPath);
  display: none;
}

.main__dots {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f0f1ff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.main__dots.-active {
  background-color: rgba(240, 241, 255, 0.3);
}

#team {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

#team > * {
  margin: 2rem 0;
}

#team .main__h2 {
  margin-bottom: 3rem;
}

.main__carouselContainer {
  width: 50%;
  height: 300px;
  margin: auto;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.main__carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s linear 0.2s;
  transition: -webkit-transform 0.5s linear 0.2s;
  transition: transform 0.5s linear 0.2s;
  transition: transform 0.5s linear 0.2s, -webkit-transform 0.5s linear 0.2s;
}

.main__card {
  max-width: 250px;
  max-height: 300px;
  margin: 0.5rem;
  -webkit-box-shadow: 2px 2px 10px #111;
          box-shadow: 2px 2px 10px #111;
  position: absolute;
  background-color: #fff;
}

.main__card .main__p {
  padding: 1rem 0;
}

.main__card:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(250px);
          transform: rotateY(0deg) translateZ(250px);
}

.main__card:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(250px);
          transform: rotateY(90deg) translateZ(250px);
}

.main__card:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(250px);
          transform: rotateY(180deg) translateZ(250px);
}

.main__card:nth-child(4) {
  -webkit-transform: rotateY(270deg) translateZ(250px);
          transform: rotateY(270deg) translateZ(250px);
}

.main__icons {
  color: #111;
  display: inline-block;
  margin: 2rem;
  cursor: pointer;
  text-align: center;
}

#contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #f0f1ff;
  padding: 2rem 0;
}

#contact > * {
  margin: 2rem 0;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  #featured .main__p {
    width: 70%;
  }
}

@media only screen and (max-width: 1100px) {
  .main__slideContainer {
    width: 500px;
    height: 333px;
  }
  .main__slides {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

@media only screen and (max-width: 1000px) {
  .main__projectContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__projects {
    margin: 10px;
    width: 350px;
  }
}

@media only screen and (max-width: 800px) {
  .main__projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__projects {
    height: 200px;
  }
  .main__projects:hover {
    height: 525px;
  }
  .main__featured {
    width: 350px;
    height: auto;
    display: block;
  }
  #contact .main__p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .main__slideContainer {
    width: 250px;
    height: 166.5px;
  }
}

@media only screen and (max-width: 500px) {
  .main__h2 {
    font-size: 5rem;
  }
  .main__p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .main__projects {
    width: 90%;
    height: auto;
    margin: 3%;
  }
  .main__projects:hover {
    pointer-events: none;
  }
  .main__featured {
    width: 100%;
    height: auto;
  }
  #featured .main__p {
    width: 90%;
  }
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eee;
  background: black;
  padding: 2rem 0;
}

.footer > * {
  margin: 1rem 0;
}

.footer .fab {
  margin: 0 3rem;
  cursor: pointer;
}

.footer__span {
  display: inline-block;
  margin: 1rem 4rem;
}

.footer__a {
  color: #eee;
  text-decoration: none;
}

.footer__a:hover {
  color: gray;
}

.footer__brand {
  font-family: Luxia, sans-serif;
}

/* Media Queries */
@media only screen and (max-width: 1050px) {
  .footer__span {
    margin: 1rem 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .footer__span {
    margin: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer__span, .footer__a {
    display: none;
  }
  .footer__p {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .footer__p {
    font-size: 3rem;
  }
}

.main__button {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  position: relative;
  padding: 20px;
  cursor: pointer;
  outline: none;
  color: #5284da;
  background: none;
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.75, 0, 0.175, 1);
  z-index: 1;
}

.main__button:hover {
  color: #eee;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.main__button::before, .main__button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: inherit;
  transition: inherit;
  z-index: -1;
}

.main__button::before {
  right: 0;
  border: 1px solid #111;
  border-left: 0;
  border-right: 0;
}

.main__button::after {
  left: 0;
}

.main__button:hover::before, .main__button:hover::after {
  width: 100%;
}

.main__button:hover::before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.main__button:hover::after {
  background: #111;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
  .main__button {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .main__button {
    font-size: 3rem;
  }
}

/* Fonts */
@font-face {
  font-family: Luxia;
  src: url(../fonts/Luxia/Luxia-Semi-BoldDisplay.otf) format("opentype");
}

@font-face {
  font-family: Hal;
  src: url(../fonts/Hal/Hal.ttf) format("truetype");
}

/* Universal Styles */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 2vmin;
}

body {
  color: #111;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */