.footer {
    @extend %flex-center;
    flex-direction: column;
    color: $main-inverse-color;
    background: black;
    padding: 2rem 0;

    > * {
        margin: 1rem 0;
    }

    .fab {
        margin: 0 3rem;
        cursor: pointer;
    }
}

.footer__span {
    display: inline-block;
    margin: 1rem 4rem;
}

.footer__a {
    color: $main-inverse-color;
    text-decoration: none;

    &:hover {
        color: gray;
    }
}

.footer__brand {
    font-family: $title-font;
}