.header {
    @extend %flex-center;
    height: 60vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 65%);

    &::before, &::after {
        content: '';
        position: absolute;
    }

    &::before {
        height: 100%;
        width: 100%;
        background: url(../images/pierre-axel-cotteret-X1tKQSMRlM0-unsplash.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        z-index: -2;
    }

    &::after {
        height: 54vh;
        width: 97%;
        position: absolute;
        background-color: #000;
        z-index: -1;
    }
}

.header__h1 {
    color: #fff;
    align-self: flex-start;
    text-align: center;
    font-family: $title-font;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 50vh;
    background: url(../images/pierre-axel-cotteret-X1tKQSMRlM0-unsplash.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}