.main__row {
    @extend %flex-center;
}

.main__h2 {
    font-family: $subtitle-font;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    text-align: center;

    &.-inverse {
        color: $main-inverse-color;
    }
}

.main__p {
    text-align: center;
}

#featured {
    flex-direction: column;
    padding-bottom: 2rem;

    > * {
        margin-bottom: 5%;
    }

    .main__p {
        width: 50%;
        font-size: 3rem;
    }
}

.main__projectContainer {
    @extend %flex-center;
    width: 100%;
}

.main__projects {
    margin: 0 10px;
    width: 100px;
    border-radius: $border-radius-sm;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.1s;

    &:hover {
        width: 350px;
    }
}

.main__featured {
    width: auto;
    height: 525px;
    display: block;
}

#latest {
    flex-direction: column;
    background-color: $main-color;
    padding-top: 2rem;

    > * {
        margin: 2rem 0;
    }
}

.main__slideContainer {
    width: 1000px;
    height: 666px;
    position: relative;
}

.main__slides {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: url(#svgPath);
    display: none;
}

.main__dots {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $main-bg-color;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &.-active {
        background-color: rgba(240, 241, 255, 0.3);
    }
}

#team {
    flex-direction: column;
    padding: 2rem 0;

    > * {
        margin: 2rem 0;
    }

    .main__h2 {
        margin-bottom: 3rem;
    }
}

.main__carouselContainer {
    width: 50%;
    height: 300px;
    margin: auto;
    position: relative;
    perspective: 1000px;
}

.main__carousel {
    @extend %flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s linear 0.2s;
}

.main__card {
    max-width: 250px;
    max-height: 300px;
    margin: 0.5rem;
    box-shadow: $main-box-shadow;
    position: absolute;
    background-color: #fff;

    .main__p {
        padding: 1rem 0;
    }
}

.main__card:nth-child(1) {
    transform: rotateY(0deg) translateZ(250px);
}

.main__card:nth-child(2) {
    transform: rotateY(90deg) translateZ(250px);
}

.main__card:nth-child(3) {
    transform: rotateY(180deg) translateZ(250px);
}

.main__card:nth-child(4) {
    transform: rotateY(270deg) translateZ(250px);
}

.main__icons {
    color: $main-color;
    display: inline-block;
    margin: 2rem;
    cursor: pointer;
    text-align: center;
}

#contact {
    flex-direction: column;
    align-content: space-between;
    background-color: $main-bg-color;
    padding: 2rem 0;
    
    > * {
        margin: 2rem 0;
    }
}

/* Media Queries */

@media only screen and (max-width: 1200px) {

    #featured .main__p {
        width: 70%;
    }
}

@media only screen and (max-width: 1100px) {

    .main__slideContainer {
        width: 500px;
        height: 333px;
    }

    .main__slides {
        clip-path: none;
    }
}

@media only screen and (max-width: 1000px) {

    .main__projectContainer {
        flex-wrap: wrap;
    }

    .main__projects {
        margin: 10px;
        width: 350px;
    }
}

@media only screen and (max-width: 800px) {

    .main__projectContainer {
        flex-direction: column;
    }

    .main__projects {
        height: 200px;

        &:hover {
            height: 525px;
        }
    }
    
    .main__featured {
        width: 350px;
        height: auto;
        display: block;
    }

    #contact .main__p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 600px) {

    .main__slideContainer {
        width: 250px;
        height: 166.5px;
    }
}

@media only screen and (max-width: 500px) {

    .main__h2 {
        font-size: 5rem;
    }

    .main__p {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {

    .main__projects {
        width: 90%;
        height: auto;
        margin: 3%;

        &:hover {
            pointer-events: none;
        }
    }

    .main__featured {
        width: 100%;
        height: auto;
    }

    #featured .main__p {
        width: 90%;
    }
}