/* Colors */

$main-bg-color: #f0f1ff; /* rgb(240, 241, 255) */
$secondary-bg-color-1: #edeefc; /* rgb(237, 238, 252) */
$main-color: #222;
$secondary-color-1: #00d6b4;

/* Font Properties */

$title-font: Luxia, sans-serif;
$subtitle-font: Hal, sans-serif;
$main-font: Ikaros, sans-serif;
$main-font-size: 2vmin;

/* Borders */

$main-border: 1px solid $secondary-color-1;
$border-radius-xs: 3px;
$border-radius-sm: 5px;
$border-radius-lg: 10px;

/* Box Shadow */

$main-box-shadow: 2px 2px 5px darkslategrey;
$secondary-box-shadow-1: 5px 5px 20px black;

/* Transitions */

$button-transitions: all 0.2s ease-in 0.1s;
$nav-transitions: all 0.75s ease-in-out 0.1s;